{{ if .Values.defectDojoApiCredentials.createSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "charts.fullname" . }}-defect-dojo-api-credentials
  labels:
  {{- include "charts.labels" . | nindent 4 }}
stringData:
  apiKey: {{ required "defectDojoApiCredentials.apiKey is required" .Values.defectDojoApiCredentials.apiKey
    | quote }}
  url: {{ required "defectDojoApiCredentials.url is required" .Values.defectDojoApiCredentials.url
    | quote }}
type: Opaque
{{ end }}