account:
  serviceAccount:
    annotations: {}
defectDojoApiCredentials:
  apiKey: ""
  url: ""
kubernetesClusterDomain: cluster.local
operator:
  ports:
    - name: metrics
      port: 80
      protocol: TCP
      targetPort: metrics
  replicas: 1
  trivyDojoReportOperator:
    env:
      defectDojoActive: "true"
      defectDojoAutoCreateContext: "true"
      defectDojoCloseOldFindings: "false"
      defectDojoCloseOldFindingsProductScope: "false"
      defectDojoDeduplicationOnEngagement: "true"
      defectDojoDoNotReactivate: "true"
      defectDojoEngagementName: engagement
      defectDojoEvalEngagementName: "false"
      defectDojoEvalProductName: "false"
      defectDojoEvalProductTypeName: "false"
      defectDojoEvalEnvName: "false"
      defectDojoEvalTestTitle: "false"
      defectDojoMinimumSeverity: Info
      defectDojoProductName: product
      defectDojoProductTypeName: Research and Development
      defectDojoEnvName: Development
      defectDojoPushToJira: "false"
      defectDojoTestTitle: Kubernetes
      defectDojoVerified: "false"
      reports: vulnerabilityreports
    image:
      repository: ghcr.io/telekom-mms/docker-trivy-dojo-operator
      tag: 0.5.6@sha256:42da357b038daac2cab5aefa9efb7f4a8e699b20218b59cce158f29edb91ebd2
  type: ClusterIP
