name: Publish Release
on:
  release:
    types:
      - published

jobs:
  publish-release:
    if: github.repository_owner == 'telekom-mms' # do not run this elsewhere
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:

      - name: Checkout repo main-branch, because there is the up-to-date Chart.yaml
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          ref: main

      - name: Install Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4

      - name: Get the version tag
        run: echo "VERSION_TAG=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Package and Release Charts
        run: |
          helm package charts/
          gh release upload $VERSION_TAG trivy-dojo-report-operator-$VERSION_TAG.tgz
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout Branch gh-pages because that's where the chart-repo exists
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: gh-pages
          # we do not want to delete the created chart
          clean: "false"

      - name: Update index.yaml
        run: helm repo index . --merge index.yaml --url "https://github.com/telekom-mms/trivy-dojo-report-operator/releases/download/${VERSION_TAG}/"

      - name: Push Updated index.yaml
        uses: github-actions-x/commit@722d56b8968bf00ced78407bbe2ead81062d8baa # v2.9
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          push-branch: gh-pages
          commit-message: Update version to new version
          force-add: 'true'
          files: index.yaml
          name: Deutsche Telekom MMS
          email: mms@telekom.de

      - name: Delete old drafts
        uses: hugo19941994/delete-draft-releases@d375ad67d25fed7520a8020c3a6561fff5260c1e # v2.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
